.rahmen{
    float: left;
    /*background-color: blue;*/
    font-family: Arial, Helvetica, sans-serif;
    width: 100%
}
.module {
    font-size: 70px;
    float: left;
    width: 40%.33%;
    height: 50%;
    border-style: dotted;
    border: 2px;
}
.big {
    width: 100%;
    display: inline-block;
}
.small {
    width: 20%;
}
.nested{
   
    font-size: xx-large;
}
.element{
    display: inline-table;
    
    height: 10%;
    
    margin-top: 10px;
  

}
.row:after {
    content: "";
    display: table;
    clear: both;
  }